@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,600&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,500;0,600;0,700;1,600&display=swap')

@mixin responsive()
    --font-family: monospace
    --root-position: center

    // Sizes
    --root-height: 100vh
    --main-margin: 0
    --main-width: 350px
    --element-gap: 1.5rem
    --buttons-gap: 1rem
    --element-padding-vertical: 1.5rem
    --element-padding-horizontal: 2rem
    --font-size-text: 1rem
    --font-size-tittle: 1.4rem
    --font-size-other: 0.9rem

    // Colors
    --root-bg-color: #ccc
    --element-bg-color: #033
    --border-color: #000
    --text-color: #ccc
    --text-color-msg: #000
    --forgot-password-color: #3ff
    --forgot-password-color-hover: #3aa
    --error-color: #f11
    --error-bg-color: #faa
    --notice-color: #1f1
    --notice-bg-color: #afa
    --tab-unselected-color: #888
    --tab-unselected-bg-color: #055

    @media screen and ( max-width: 375px )
        --root-position: flex-start

        // Sizes
        --root-height: auto
        --main-margin: 6rem
        --main-width: 90%
        --element-padding-vertical: 1rem
        --element-padding-horizontal: 1.5rem

@mixin root()
    @include responsive()
    font-family: var(--font-family)
    background-color: var(--root-bg-color)
    width: 100vw
    height: var(--root-height)
    display: flex
    justify-content: center
    align-items: var(--root-position)

@mixin main()
    width: var(--main-width)
    background-color: var(--element-bg-color)
    border-radius: 10px
    border: 1px solid var(--border-color)
    padding: var(--element-padding-vertical) var(--element-padding-horizontal)
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: stretch
    margin: var(--main-margin) 0
    animation: grow 0.5s

    @keyframes grow
        0%
            transform: scale(0)
        100%
            transform: scale(1)

@mixin container()
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: var(--element-gap)
    animation: show 0.8s

    @keyframes show
        0%
            opacity: 0
        100%
            opacity: 1

@mixin input()
    width: 100%
    border: 1px solid var(--border-color)
    border-radius: 5px
    padding: 0.5rem
    margin: 0.3rem 0
    outline: none

@mixin errorInput()
    width: 100%
    text-align: center
    font-size: var(--font-size-other)
    font-weight: 600
    font-style: italic
    color: var(--error-color)
    margin-top: 0.3rem
    animation: showErrorInput 0.3s

    @keyframes showErrorInput
        0%
            opacity: 0
            transform: translateY(-1.5rem)
        100%
            opacity: 1
            transform: translateY(0)

@mixin blank()
    height: 5rem

@mixin loading()
    @include container()
    width: 100%
    height: 100%
    background-color: var(--element-bg-color)
    border-radius: 10px
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 1

    div
        background: url('../img/loading.svg') no-repeat
        background-position: center
        background-size: 50px 50px
        width: 50px
        height: 50px

@mixin buttons()
    width: 100%
    margin-bottom: 0.5rem
    display: flex
    justify-content: center
    align-items: center
    gap: var(--buttons-gap)

@mixin button()
    width: 130px
    border-radius: 5px
    font-size: 1rem
    font-weight: 600
    padding: 0.5rem
    cursor: pointer

@mixin title()
    width: 100%
    text-align: center
    font-size: var(--font-size-tittle)
    font-weight: 600
    color: var(--text-color)

@mixin text()
    width: 100%
    font-size: var(--font-size-text)
    font-weight: 600
    color: var(--text-color)

@mixin forgotPasswordLink()
    color: var(--forgot-password-color)
    font-size: var(--font-size-other)
    font-weight: 500
    cursor: pointer
    transition: 0.2s

    &:hover
        color: var(--forgot-password-color-hover)

@mixin alert()
    width: var(--main-width)
    border-radius: 10px
    padding: 1rem
    position: fixed
    font-weight: 700

    .msg
        width: 100%
        font-size: var(--font-size-text)
        color: var(--text-color-msg)
        text-align: center

@mixin emailVerified()
    @include alert()
    position: absolute
    width: 100%
    background-color: var(--error-bg-color)
    border: 1px solid var(--error-color)
    bottom: -5rem

@mixin error()
    @include alert()
    @include slideAlert()
    top: 1rem
    background-color: var(--error-bg-color)
    border: 1px solid var(--error-color)

@mixin notice()
    @include alert()
    @include slideAlert()
    top: 1rem
    background-color: var(--notice-bg-color)
    border: 1px solid var(--notice-color)

@mixin slideAlert()
    animation: showAlert 0.5s

    @keyframes showAlert
        0%
            opacity: 0
            transform: translateY(-30px)
        100%
            opacity: 1
            transform: translateY(0)

@mixin userTabBar()
    display: flex
    margin: 0 calc( var(--element-padding-horizontal) * (-1) )
    margin-top: calc( var(--element-padding-vertical) * (-1) )
    border-radius: 10px 10px 0 0
    margin-bottom: var(--element-padding-vertical)

@mixin userTab()
    flex-grow: 1
    flex-basis: 0
    margin: -1px
    padding: 0.5rem
    border-radius: 10px 10px 0 0
    border: 1px solid var(--border-color)
    font-size: 1rem
    text-align: center
    color: var(--tab-unselected-color)
    background-color: var(--tab-unselected-bg-color)
    transition: background-color 0.5s
    transition: color 0.5s

    &:not(.selected)
        cursor: pointer

        &:hover
            color: var(--text-color)

@mixin tabSelected()
    background-color: var(--element-bg-color)
    color: var(--text-color)
    border-bottom: none
